.input1{
    border: 1px solid gray;
    padding: 11px;
    width: 300px;
}
.button{
    background-color: blue;
    color: white;
    border: 11px solid blue;
    width: 325px;
    margin: 11px;
}
.maindiv{
    color: gray;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.pclass1{
    margin: 20px auto auto auto;
}
.atag{
    text-decoration: none;
    color: blue;
}
