.maindiv{
    background-position: center;
    display: flex;
    text-align: center;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 33px 0;
}
.smalldivs{
    border: 1px solid gray;
    padding: 0 33px;
}
h1{
    width: 333px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.smalltag{
    color: chocolate;
    margin: 0 11px 15px 11px;
}
.allps{
    margin: 19px auto 0 auto;
}